.tiptap-editor {
    position: relative;
}
.editor__content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.editor__content * {
    caret-color: currentColor;
}

.editor__content .ProseMirror {
    padding: 10px 15px;
    outline: none;
}

.editor__content p {
    font-size: 16px;
}

.editor__content ul, .editor__content ol {
    padding-left: 1rem;
}
.editor__content li > p, .editor__content li > ol, .editor__content li > ul {
    margin: 0;
}

.editor__content img {
    max-width: 100%;
    border-radius: 3px;
}
